{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheets" href="{{ asset('styles/home.css') }}">
{% endblock %}

{% block body %}
	{# app.user équivaut à $this->user et récupére l'utilisateur connecté #}
	<div class="section">
		{% if app.user %}

			<div>
				<b>Prochaine(s) réunion(s):</b>
				{% for reunion in reunions %}
					<div>
						<p>{{ reunion.lieu }}</p>
						<p>{{ reunion.date | date('d/m/Y H:i') }}</p>
						<p>{{ reunion.subject }}</p>
						<p>{{ reunion.content }}</p>
						<div align="center">
						<a href="{{ path('app_reunion_register',{'id':reunion.id})}}"><b>S'inscrire</b></a>
						<a href="{{ path('app_reunion_unsubscribe',{'id':reunion.id})}}"><b>Se désincrire</b></a>
						</div>
					</div>
				{% endfor %}
			</div>

			<a href="{{ path('app_post_new') }}" class="btn">Ajouter un post</a>

			<div class="posts">
				{% for post in posts %}

					<div class="card">
						<div class="card-header">

							<div class="card-header-info">
								<span>{{ post.user.fullName }}</span>
								<span>{{ post.createdAt|date('d/m/Y H:i') }}</span>
							</div>

							{% if post.user == app.user %}
								<div class="card-header-action">
									<a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn">Modifier</a>
									{% include "post/_delete_form.html.twig" %}
								</div>
							{% endif %}
						</div>
						<hr>
						<div class="card-message">
							{{ post.message }}
						</div>
						{% if post.imageName %}
							<div
								class="card-image">
								{# Va aller chercher l'image à l'intérieur de l'objet post #}

								<img src="{{ vich_uploader_asset(post) }}" alt="image">
							</div>
						{% endif %}
						<hr>


						<div class="card-coment">
							{# initialisation du formulaire #}
							{#   post.id en twig  équivaut à $post->getId() en php natif #}
							{{ form_start(commentForm[post.id]) }}
							{{ form_row(commentForm[post.id]) }}
								<button class="btn"> {{ button_label|default('Enregistrer') }}</button>
							{{ form_end(commentForm[post.id]) }}

							{% for comment in post.comments|sort((a, b) => b.createdAt <=> a.createdAt)%}

								<div class="card-comment-item">
									<div class="card-comment-message">
										<span>{{comment.user.fullName}}</span>
										<span>{{comment.message}}</span>
									</div>

									{% if comment.user == app.user %}
										<div class="card-comment-actions">
											<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn">Modifier</a>
											{% include "comment/_delete_form.html.twig" %}
										</div>
									{% endif %}


								</div>
								{# n'afficher un hr que si ce n'est pas le dernier commentaire  #}
								{% if not loop.last %}
									<hr>
								{% endif %}
							{% endfor %}

						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="home_img">
				<img src="{{ asset("images/potager_home.jpg") }}">
			</div>

		{% endif %}

	</div>
{% endblock %}
