{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	{# app.user équivaut à $this->user et récupére l'utilisateur connecté #}
	<div class="section">
		{% if app.user %}
			<a href="{{ path('app_post_new') }}">Ajouter un post</a>
			{% for post in posts %}
				<div class="card" style="margin-bottom:40px;">
					{% if post.user == app.user %}
						<a href="{{ path('app_post_edit', {'id': post.id}) }}">Modifier</a>
						{% include "post/_delete_form.html.twig" %}
					{% endif %}
					{# Va aller chercher l'image à l'intérieur de l'objet post #}
					{% if post.imageName %}
						<img src="{{ vich_uploader_asset(post) }}" alt="image">
					{% endif %}
					<ul>
						<li>{{ post.message }}</li>
						<li>{{ post.user.fullName }}</li>
						<li>{{ post.createdAt|date('d/m/Y H:i') }}</li>
						<li></li>
					</ul>
					{# initialisation du formulaire #}
                    {# $post->getId() est du php natif et équivaut à post.id en twig #}
					{{ form_start(commentForm[post.id]) }}
					    {{ form_widget(commentForm[post.id]) }}
					    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
					{{ form_end(commentForm[post.id]) }}

					{% for comment in post.comments|sort((a, b) => b.createdAt <=> a.createdAt)%}
					<div>
						{% if comment.user == app.user %}
							<a href="{{ path('app_comment_edit', {'id': comment.id}) }}">Modifier</a>
							{% include "comment/_delete_form.html.twig" %}
						{% endif %}
						{{comment.message}}
						{{comment.user.fullName}}
					</div>	
					{% endfor %}
				</div>
			{% endfor %}
		{% else %}
			<a href="{{ path('app_login') }}">Se connecter</a>
			<a href="{{ path('app_register') }}">S'inscrire</a>
		{% endif %}
	</div>
{% endblock %}
