{% extends 'base.html.twig' %}

{% block title %}Jardin partagé
{% endblock %}

{% block body %}
	{# app.user équivaut à $this->user et récupére l'utilisateur connecté #}
	<div class="section">
		{% if app.user %}

			<div class="card bg-light">
				<div class="fw-bold">Prochaine(s) réunion(s):</div>
				<div class="card-body p-0">
					{% for reunion in reunions %}
						<p>
							<u>Lieu</u>
							:
							{{ reunion.lieu }}</p>
						<p>
							<u>Date</u>
							:
							{{ reunion.date | date('d/m/Y H:i') }}</p>
						<p>
							<u>Sujet</u>
							:
							{{ reunion.subject }}</p>
						<p>{{ reunion.content }}</p>
						<div class="d-flex justify-content-center align-items-center gap-3">

							{# Trouvé les inscriptions liée à la réunion sur laquelle on travail #}
							{# Trouvé dans ces inscription l'utilisateur connecté #}
							{% set hasUserInscripted = reunion.inscriptionReunions|filter(inscription => inscription.user == app.user)|length > 0 %}

							{# Récupérer l'utilisateur connecté
														Si l'utilisateur est inscrit à une réunion
														#}
								{% if not hasUserInscripted %}
									<a href="{{ path('app_reunion_register',{'id':reunion.id})}}" class="btn btn-success"> S'inscrire
								</a>
							{% else %}
								<a href="{{ path('app_reunion_unsubscribe',{'id':reunion.id})}}" class="btn btn-danger">
									Se désincrire
								</a>
							{% endif %}
						</div>
						{% if not loop.last %}
							<hr>
						{% endif %}
					{% endfor %}
				</div>
			</div>

			<a href="{{ path('app_post_new') }}" class="btn btn-success">Ajouter un post</a>

			<div class="posts">
				{% for post in posts %}

					<div class="card">
						<div class="d-flex align-items-center justify-content-between">
							<div class="d-flex flex-column">
								<span>{{ post.user.fullName }}</span>
								<span>{{ post.createdAt|date('d/m/Y H:i') }}</span>
							</div>

							{% if post.user == app.user %}
								<div class="d-flex gap-3">
									<a href="{{ path('app_post_edit', {'id': post.id}) }}" class="btn btn-primary">
										Modifier
									</a>
									{% include "post/_delete_form.html.twig" %}
								</div>
							{% endif %}
						</div>
						<hr>
						<div class="card-message">
							{{ post.message }}
						</div>
						{% if post.imageName %}
							<div
								class="d-flex justify-content-center card-image w-100">
								{# Va aller chercher l'image à l'intérieur de l'objet post #}
								<img src="{{ vich_uploader_asset(post) }}" class="w-50" alt="image">
							</div>
						{% endif %}
						<hr>

						<div>
							{# initialisation du formulaire #}
							{#   post.id en twig  équivaut à $post->getId() en php natif #}
							{{ form_start(commentForm[post.id]) }}
							{{ form_row(commentForm[post.id]) }}
								<button type="submit" class="btn btn-success"> {{ button_label|default('Enregistrer') }}
							</button>
							{{ form_end(commentForm[post.id]) }}

							<div class="mt-3">
								{% for comment in post.comments|sort((a, b) => b.createdAt <=> a.createdAt)%}
									<div class="d-flex align-items-center justify-content-between">
										<div class="fw-bold">
											{{comment.user.fullName}}
										</div>
										{% if comment.user == app.user %}
											<div class="d-flex gap-3">
												<a href="{{ path('app_comment_edit', {'id': comment.id}) }}" class="btn btn-primary">
													Modifier
												</a>
												{% include "comment/_delete_form.html.twig" %}
											</div>
										{% endif %}
									</div>

									<p class="m-0 mt-3">{{comment.message}}</p>

									{# n'afficher un hr que si ce n'est pas le dernier commentaire  #}
									{% if not loop.last %}
										<hr>
									{% endif %}
								{% endfor %}
							</div>

						</div>
					</div>
				{% endfor %}
			</div>
		{% else %}
			<div class="home_img">
				<img src="{{ asset("images/potager_home.jpg") }}">
			</div>
		{% endif %}

	</div>
{% endblock %}
