{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <div class="d-flex flex-column align-items-center">
        <h1 class="mb-3">Inscription</h1>

        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm, {
            'attr': {'class': 'col-12 col-md-4'}
        }) }}
            {{ form_row(registrationForm.email) }} 
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.plainPassword) }}

            <div class="d-flex flex-column mt-3">
                <button type="submit" class="btn btn-success">S'inscrire</button>
            </div>
        {{ form_end(registrationForm) }}
    <div>

{% endblock %}
