{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Message</th>
                <td>
                {{ post.message }}
                <p>Nombre de caractères : {{ post.getLenghtMessage}}</p>
                </td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ImageName</th>
                <td>{{ post.imageName }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_post_index') }}">Retour à la liste</a>

    <a href="{{ path('app_admin_post_edit', {'id': post.id}) }}">Modifier</a>

    {{ include('admin_post/_delete_form.html.twig') }}
{% endblock %}
