{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                {# ~ Pour concaterner (remplace le . en twig) #}
                    {% for role in user.roles %}
                    {# Si pas dernier élement mettre une virgule #}
                        {{constant("App\\Enum\\UserRoleEnum::" ~ role)}}
                        {% if not loop.last %},{% endif %}    
                    {% endfor %}
                </td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>
                    <a href="{{ path('app_admin_user_show', {'id': user.id}) }}" class="btn btn-secondary">Afficher</a>
                    <a href="{{ path('app_admin_user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
