{% extends 'base.html.twig' %}

{% block title %}Liste des Reunions{% endblock %}

{% block body %}
    <h1>Liste des Reunions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Lieu</th>
                <th>Subject</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reunion in reunions %}
            <tr>
                <td>{{ reunion.id }}</td>
                <td>{{ reunion.date ? reunion.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ reunion.lieu }}</td>
                <td>{{ reunion.subject }}</td>
                <td>
                    <a href="{{ path('app_reunion_show', {'id': reunion.id}) }}">Afficher</a>
                    <a href="{{ path('app_reunion_edit', {'id': reunion.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas de réunions trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reunion_new') }}">Créer une nouvelle réunion</a>
{% endblock %}
