{% extends 'base.html.twig' %}

{% block title %}Reunion{% endblock %}

{% block body %}
    <h1>Reunion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reunion.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ reunion.date ? reunion.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ reunion.lieu }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ reunion.subject }}</td>
            </tr>
             <tr>
                <th>Content</th>
                <td>{{ reunion.content }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reunion_edit', {'id': reunion.id}) }}"class="btn btn-primary">Modifier</a>

    {{ include('reunion/_delete_form.html.twig') }}

    <a href="{{ path('app_reunion_index') }}" class="btn btn-secondary">Retour à la liste</a>
    
{% endblock %}
