{% extends 'base.html.twig' %}

{% block title %}Liste des plantes{% endblock %}

{% block body %}
    <h1>Liste des plantes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type</th>
                <th>DatePlantation</th>
                <th>PeriodeCroissance</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for plante in plantes %}
            <tr>
                <td>{{ plante.id }}</td>
                <td>{{ plante.nom }}</td>
                <td>{{ plante.type }}</td>
                <td>{{ plante.datePlantation ? plante.datePlantation|date('d/m/Y H:i') : '' }}</td>
                <td>{{ plante.periodeCroissance }}</td>
                <td>{{ plante.createdAt ? plante.createdAt|date('d/m/Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('app_admin_plante_show', {'id': plante.id}) }}" class="btn btn-secondary">Afficher</a>
                    <a href="{{ path('app_admin_plante_edit', {'id': plante.id}) }}" class="btn btn-primary">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucune plante trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_admin_plante_new') }}" class="btn btn-success">Créer une nouvelle plante</a>

{% endblock %}
